Hallo {{ user.get_short_name }},

Du bekommst diese E-Mail, weil Du auf der RTG-Webseite beantragt hast, dein Passwort zurückzusetzen.
Falls Du dies nicht getan hast, hat möglicherweise jemand anderes deine E-Mail Adresse dafür missbraucht.
In diesem Fall musst Du nichts machen, Dein bisheriges Passwort ist weiterhin gültig!

Falls Du ein neues Passwort angefordert hast, dann öffne bitte den folgenden Link, um ein neues Passwort zu vergeben:
{# TODO dynamically set site url? this template is used by some default rest-auth class and we probably cannot adjust the wired parameters #}
https://www.royale-tippgemeinschaft.de/passwordreset/{{ uid }}/{{ token }}

Wir wünschen Dir weiterhin königlichen Fußball-Spaß bei der RTG 2018!

Hochachtungsvoll,
Das Königshaus
