Hallo {{ user.get_short_name }},

die Tipp-Deadline für folgende Spiele/Zusatztipps läuft innerhalb der nächsten 24 Stunden ab:
{% for game in games_to_bet %}
- Bis {{ game.deadline|date:'j.n, H:i' }} Uhr (MESZ): {{ game.hometeam.name }} - {{ game.awayteam.name }}{% endfor %}
{% for extra in extras_to_bet %}
- Bis {{ extra.deadline|date:'j.n, H:i' }} Uhr (MESZ): Zusatztipp "{{ extra.name }}"{% endfor %}

Du hast für diese Spiele/Zusatztipps bislang noch keine Tipps abgegeben!
Bitte denke daran, dies rechtzeitig auf der Webseite des Königshauses zu tun.

Weiterhin viel Spaß und Glück bei der RTG!

Hochachtungsvoll,
Das Königshaus
