<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
    <table style="width: 100%; font-family: 'Roboto', Arial, sans-serif;">
        <tr>
            <td>
                <table align="center" style="width: 100%; max-width:600px;">
                    <tr>
                        <th width="70" style="text-align: left; font-size: 12px;">
                            <img style="height: 85px;"
                                 src="https://api.royale-tippgemeinschaft.de/static/logo.png" alt="Logo"/>
                        </th>
                        <th style="text-align: left; vertical-align: middle;">
                            <span style="color: #974578; font-family: Times New Roman, serif; font-size: 22px;">
                                <img style="width: 100%; max-width: 270px"
                                     src="https://api.royale-tippgemeinschaft.de/static/heading.png" alt="Royale Tippgemeinschaft"/>
                            </span><br />
                            {% if subtitle %}
                                <span style="color: #808080; font-size:16px; font-weight: normal;">
                                    {{ subtitle }}
                                </span>
                            {% endif %}
                        </th>
                    </tr>

                    <tr style="height:20px;"></tr>
                    <tr><td colspan="2" style="padding: 0; height: 1px; background-color: #EDD69C;"></td></tr>
                    <tr style="height:20px;"></tr>

                    <tr>
                        <td colspan="2" style="color:#333;">
                            {% if content %}
                                {{ content|linebreaksbr }}
                            {%  endif %}
                            {% if html_content %}
                                {{ html_content|safe }}
                            {%  endif %}
                        </td>
                    </tr>

                    <tr style="height:20px;"></tr>
                    <tr><td colspan="2" style="padding: 0; height: 1px; background-color: #EDD69C;"></td></tr>
                    <tr style="height:20px;"></tr>

                    <tr>
                        <td colspan="2">
                            <a style="color: #B4B4B4;" href="https://www.royale-tippgemeinschaft.de">www.royale-tippgemeinschaft.de</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a style="color: #B4B4B4;" href="https://www.royale-tippgemeinschaft.de/profile">E-Mail Einstellungen</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>